.card {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    border: 0ch;
}
#imgCon{
    text-align: center;
    border: 1px solid #1bafbf;
    padding:  10px;
}
select{
    width: 108px; 
    margin-bottom: 8px;
  }
  .details{
    margin-top:-5px;

  }
