img {
    border-radius: 10px;
  }
  
  .detail-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
  }
  
  .detail-container li {
    padding: 10px 0 5px;
  }
  
  .select-input {
    width: 108px;
    margin-bottom: 8px;
  }
  